<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12 text-end">EK-7</div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          ÖZEL ÖĞRETİM KURUMLARINDA ÜCRETSİZ OKUYACAK ÖĞRENCİ VE KURSİYER FORMU
          <br />
          2022-2023 ÖĞRETİM YILI İÇİN
        </div>
      </div>
      <br />
      <!--  TABLO KISMI -->
      <div class="row border border-black">
        <div class="col-12">
          <div class="row">
            <div class="col-1 border border-black">1</div>
            <div class="col-4 border border-black">Adı Soyadı</div>
            <div class="col-7 border border-black">HAKAN ŞENDUR</div>
          </div>
          <div class="row">
            <div class="col-1 border border-black">2</div>
            <div class="col-4 border border-black">T.C. Kimlik No</div>
            <div class="col-7 border border-black">11111111111</div>
          </div>
          <div class="row">
            <div class="col-1 border border-black">3</div>
            <div class="col-4 border border-black">
              Okul ve Dershanelerde sınıfı Diğer Kurumlarda Öğretim Programı
            </div>
            <div class="col-7 border border-black"></div>
          </div>
          <div class="row">
            <div class="col-12 text-end" style="height: 50px">
              Durumunuzu uygun olan bölümü ( x ) ile işaretleyiniz.
            </div>
          </div>
          <div class="row">
            <div class="col-1 border border-black">4</div>
            <div class="col-10 border border-black">
              <div class="row">
                <div class="col-12">
                  ÖĞRENCİNİN BİR YIL ÖNCEKİ BAŞARI DURUMU ( İlköğretim ve
                  ortaöğretim okulları 2-12 nci sınıflar için )
                </div>
              </div>
              <div class="row border border-black">
                <div class="col-12">Pekiyi</div>
              </div>
              <div class="row border border-black">
                <div class="col-12">İyi</div>
              </div>
              <div class="row border border-black">
                <div class="col-12">Orta</div>
              </div>
            </div>
            <div class="col-1 border border-black"></div>
          </div>
          <div class="row">
            <div class="col-1 border border-black">5</div>
            <div class="col-10 border border-black">
              <div class="row border border-black">
                <div class="col-12">ANNE -- BABA HAYATTA MI?</div>
                <div class="row border border-black">
                  <div class="col-12">Anne veya Baba ölü</div>
                </div>
                <div class="row border border-black">
                  <div class="col-12">İkisi de ölü</div>
                </div>
                <div class="row border border-black">
                  <div class="col-12">Anne - baba ayrı</div>
                </div>
                <div class="row border border-black">
                  <div class="col-12">
                    2828 sayılı Kanuna göre devletin himayesi altında
                  </div>
                </div>
                <div class="row border border-black">
                  <div class="col-12">
                    2828 sayılı Kanuna göre koruyucu ailenin himayesi altında
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1 border border-black"></div>
          </div>
          <div class="row">
            <div class="col-1 border border-black">6</div>
            <div class="col-10 border border-black">
              <div class="row border border-black">
                <div class="col-12">
                  ÖĞRENCİ VEYA KURSİYERİN RAPORA BAĞLI ÖZÜR DURUMU VAR MI?
                </div>
                <div class="row border border-black">
                  <div class="col-12">Hayır</div>
                </div>
                <div class="row border border-black">
                  <div class="col-12">Evet</div>
                </div>
              </div>
            </div>
            <div class="col-1 border border-black"></div>
          </div>
          <div class="row">
            <div class="col-1 border border-black">7</div>
            <div class="col-10 border border-black">
              <div class="row border border-black">
                <div class="col-12">AİLENİN AYLIK TOPLAM GELİRİ</div>
                <div class="row border border-black">
                  <div class="col-12">(*) 2.828,34 TL den daha az ise</div>
                </div>
                <div class="row border border-black">
                  <div class="col-12">
                    (*) 2.828,34 TL veya 4.242,37 TL arası ise
                  </div>
                </div>
                <div class="row border border-black">
                  <div class="col-12">
                    (*) 4.242,37 TL veya 7.070,85 TL arası ise
                  </div>
                </div>
                <div class="row border border-black">
                  <div class="col-12">
                    (*) 7.070,85 TL veya 9.899,21 TL arası ise
                  </div>
                </div>
                <div class="row border border-black">
                  <div class="col-12">
                    (*) 9.899,21 TL veya 12.563,62 TL arası ise
                  </div>
                </div>
                <div class="row border border-black">
                  <div class="col-12">
                    (*) 16.970,07 TL veya 21.212,59 TL arası ise
                  </div>
                </div>
                <div class="row border border-black">
                  <div class="col-12">
                    (*) 21.212,59 TL veya 25.588,86 TL arası ise
                  </div>
                </div>
                <div class="row border border-black">
                  <div class="col-12">
                    (*) 25.588,86 TL veya 29.697,63 TL arası ise
                  </div>
                </div>
                <div class="row border border-black">
                  <div class="col-12">(*) 29.697,63 TL ve daha fazla</div>
                </div>
              </div>
            </div>
            <div class="col-1 border border-black"></div>
          </div>
          <div class="row">
            <div class="col-1 border border-black">4</div>
            <div class="col-10 border border-black">
              <div class="row">
                <div class="col-12">AİLEDE BAŞKA ÖĞRENİM GÖREN VAR MI ?</div>
              </div>
              <div class="row border border-black">
                <div class="col-12">Yok</div>
              </div>
              <div class="row border border-black">
                <div class="col-12">
                  Her bir okul öncesi eğitim ve ilköğretim öğrencisi için
                </div>
              </div>
              <div class="row border border-black">
                <div class="col-12">
                  Her bir ortaöğretim okulu öğrencisi için
                </div>
              </div>
              <div class="row border border-black">
                <div class="col-12">Her bir üniversite öğrencisi için</div>
              </div>
            </div>
            <div class="col-1 border border-black"></div>
          </div>
          <div class="col">
            <div class="row-12 text-center fw-bold">AİLEDE ÇALIŞANLARIN</div>
          </div>
          <div class="row border border-black">
            <div class="col-1 border border-black"></div>
            <div class="col-11 border border-black">
              <div class="row text-center" style="height: 40px">
                <div class="col-3 border border-black">Adı ve Soyadı</div>
                <div class="col-2 border border-black">Yakınlık Derecesi</div>
                <div class="col-2 border border-black">Öğrenim Durumu</div>
                <div class="col-2 border border-black">Görevi</div>
                <div class="col-3 border border-black">İş Adresi ve Tel.No</div>
              </div>
              <div class="row text-center" style="height: 40px">
                <div class="col-3 border border-black"></div>
                <div class="col-2 border border-black"></div>
                <div class="col-2 border border-black"></div>
                <div class="col-2 border border-black"></div>
                <div class="col-3 border border-black"></div>
              </div>
              <div class="row text-center" style="height: 40px">
                <div class="col-3 border border-black"></div>
                <div class="col-2 border border-black"></div>
                <div class="col-2 border border-black"></div>
                <div class="col-2 border border-black"></div>
                <div class="col-3 border border-black"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  TABLO KISMI SON -->

      <div class="row">
        <div class="col-12">
          <p>
            ( * ) Ailenin aylık toplam gelir tutarları her yıl bir önceki yıla
            ilişkin olarak Vergi Usul Kanunu hükümlerine göre belirlenen yeniden
            değerleme oranında artırılmak suretiyle yeniden belirlenir.
          </p>
        </div>
      </div>

      <div class="row border border-black">
        <div class="col-12">
          <div class="row">
            <div class="col-12">
              <p>
                ......................................................MÜDÜRLÜĞÜNE
                <br />
                Velisi bulunduğum ................................'nın ücretsiz
                okuma hakkından faydalanmasını istiyorum. Ücretsiz okuma
                hakkından faydalanması için yapılacak değerlendirmeye esas olmak
                üzere bu formda vermiş olduğum bilgilerin doğruluğunu beyan
                ederim.Bu Formda vermiş olduğum bilgilerin doğru olmaması
                halinde velisi bulunduğum öğrenciye tanınan ücretsiz okuma
                hakkının sona erdirilmesini kabul ve ücretsiz okuduğu süreye ait
                ücretleri kanuni faizi ile birlikte ödemeyi taahhüt ederim.
              </p>
            </div>
          </div>
          <div class="row text-end">
            <div class="col-12">
              ......../....../........... <br />
              İMZA
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="row border border-black">
                <div class="col-12">VELİNİN</div>
              </div>
              <div class="row border border-black">
                <div class="col-4 border border-black">ADI VE SOYADI</div>
                <div class="col-8"></div>
              </div>
              <div class="row border border-black">
                <div class="col-4 border border-black">T.C.KİMLİK NO</div>
                <div class="col-8"></div>
              </div>
              <div class="row border border-black">
                <div class="col-4 border border-black">EV ADRESİ</div>
                <div class="col-8"></div>
              </div>
              <div class="row border border-black">
                <div class="col-4 border border-black">İŞ ADRESİ</div>
                <div class="col-8"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
